# Create Clients

In [1]:
# Import libraries
import pandas as pd
import boto3
import json
import configparser

In [2]:
# Load DWH Params from file
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

In [3]:
# Create clients for IAM, EC2, S3 and Redshift

import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Create IAM Role

Create IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::053758803701:role/dwhRole

# Create Redshift Cluster

For complete arguments to `create_cluster`, see [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [5]:
try:
    response = redshift.create_cluster(        
        # Cluster
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        # Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        # Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [6]:
print(response)

{'Cluster': {'ClusterIdentifier': 'dwhcluster', 'NodeType': 'dc2.large', 'ClusterStatus': 'creating', 'MasterUsername': 'dwhuser', 'DBName': 'dwh', 'AutomatedSnapshotRetentionPeriod': 1, 'ClusterSecurityGroups': [], 'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-7f04682d', 'Status': 'active'}], 'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0', 'ParameterApplyStatus': 'in-sync'}], 'ClusterSubnetGroupName': 'default', 'VpcId': 'vpc-52f6872a', 'PreferredMaintenanceWindow': 'mon:12:30-mon:13:00', 'PendingModifiedValues': {'MasterUserPassword': '****'}, 'ClusterVersion': '1.0', 'AllowVersionUpgrade': True, 'NumberOfNodes': 4, 'PubliclyAccessible': True, 'Encrypted': False, 'Tags': [], 'EnhancedVpcRouting': False, 'IamRoles': [{'IamRoleArn': 'arn:aws:iam::053758803701:role/dwhRole', 'ApplyStatus': 'adding'}], 'MaintenanceTrackName': 'current'}, 'ResponseMetadata': {'RequestId': '9274d7ca-43d9-4d1f-ad05-48f724c87556', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amzn-requestid': '9274d7ca-43d9-4d1f-ad05-48f724c87556', 'content-type': 'text/xml', 'content-length': '2196', 'vary': 'accept-encoding', 'date': 'Fri, 19 Jun 2020 16:21:19 GMT'}, 'RetryAttempts': 0}}

## Describe the cluster to see its status

Status should show as `Available`.

In [7]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

In [15]:
# Run block until ClusterStatus is Available
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-52f6872a
7,NumberOfNodes,4

## Take note of the cluster endpoint and role ARN

Do not run until the cluster is Available

In [16]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::053758803701:role/dwhRole

# Open an incoming TCP port to access the cluster endpoint

In [20]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName='default', 
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-04fbcd38775d597fb')

# Make sure you can connect to the cluster

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [29]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Run `create_tables.py` and `etl.py`

In [43]:
!python create_tables.py

Dropping tables...
Tables are dropped.
Creating tables...
Tables are created.
Connection is closed.

In [48]:
!python etl.py

Data copied from S3.
Inserting data in tables...
Data inserted into tables.

## Test copied data

In [45]:
%%time
%%sql
SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.
CPU times: user 4.64 ms, sys: 98 µs, total: 4.74 ms
Wall time: 4.53 s

[(None, 'Logged In', 'Theodore', 'M', 0, 'Smith', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540306145796, 154, None, '200', 1541290555796, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 52),
 ('Professor Longhair', 'Logged In', 'Ann', 'F', 0, 'Banks', 214.20363, 'free', 'Salt Lake City, UT', 'PUT', 'NextSong', 1540895683796, 124, "Mean Ol'World", '200', 1541292603796, 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 99),
 (None, 'Logged In', 'Jahiem', 'M', 0, 'Miles', None, 'free', 'San Antonio-New Braunfels, TX', 'GET', 'Home', 1540817347796, 42, None, '200', 1541299033796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43),
 ('Gary Hobbs', 'Logged In', 'Jahiem', 'M', 1, 'Miles', 245.52444, 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', 1540817347796, 42, 'En Mi Mundo', '200', 1541300092796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43),
 ('Lifehouse', 'Logged In', 'Jahiem', 'M', 2, 'Miles', 203.59791, 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', 1540817347796, 42, "We'll Never Know", '200', 1541300337796, '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 43)]

In [46]:
%%sql
SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARMAC4T1187FB3FA4C', 40.82624, 'Morris Plains, NJ', -74.47995, 'The Dillinger Escape Plan', 207.77751, 1, 'SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 2004),
 ('ARANFET1187FB56607', None, 'Buff Bay, Portland, Jamaica', None, 'Wayne Wonder', 227.70893, 1, 'SOCGVXG12A6D4FBC3C', 'All This Time', 0),
 ('ARXWAQQ1187B9AE954', None, 'Newark, NJ', None, 'Redman', 124.18567, 1, 'SORWHWY12A6702038E', 'WKYA (drop)', 2001),
 ('AR6C8EJ1187FB3F473', None, ' Ubá, Minas Gerais', None, 'Nelson Ned', 211.80036, 1, 'SOCCQIQ12A8C13C76B', 'Brasas Vivas', 0),
 ('ARTFTSM11C8A415955', None, '', None, 'Ace Enders & A Million Different People', 66.61179, 1, 'SORMXGO12AB017CE1D', 'New Guitar', 2009)]

## Test inserted data

In [49]:
%%sql
select * from songplays limit 5;

 * postgresql://dwhuser:***@dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(570, datetime.datetime(2018, 11, 1, 21, 5, 52), 8, 'free', 'SOKOZQI12A8C13C538', 'AR3HS9C1187FB48878', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (8769, datetime.datetime(2018, 11, 1, 21, 11, 13), 8, 'free', 'SOGAALD12A6D4F58F2', 'ARHUC691187B9AD27F', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (6051, datetime.datetime(2018, 11, 1, 21, 11, 13), 8, 'free', 'SOEIQUY12AF72A086A', 'ARHUC691187B9AD27F', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (8362, datetime.datetime(2018, 11, 1, 21, 11, 13), 8, 'free', 'SOQVXCF12AF72A419B', 'ARHUC691187B9AD27F', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (4988, datetime.datetime(2018, 11, 1, 21, 17, 33), 8, 'free', 'SOICPZO12A8C13F712', 'ARY7DQ91187B98C85E', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [50]:
%%sql
select * from users limit 5;

 * postgresql://dwhuser:***@dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(66, 'Kevin', 'Arellano', 'M', 'free'),
 (34, 'Evelin', 'Ayala', 'F', 'free'),
 (99, 'Ann', 'Banks', 'F', 'free'),
 (100, 'Adler', 'Barrera', 'M', 'free'),
 (91, 'Jayden', 'Bell', 'M', 'free')]

In [51]:
%%sql
select * from artists limit 5;

 * postgresql://dwhuser:***@dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARZ8MVL1187FB41D17', 'Shout Out Out Out Out', '780', 35.85683, 129.2459),
 ('ARJYQPB1187B99FB80', 'Jane Child', 'AU', -24.9162, 133.39311),
 ('ARC91C2119B866835D', 'Sam Sparro', 'AU', None, None),
 ('ARHNH661187B9B33EE', 'Ralph Fridge', 'AU', -24.9162, 133.39311),
 ('ARN653G1187B997B1F', 'Necro', 'AU', -24.9162, 133.39311)]

In [52]:
%%sql
select * from songs limit 5;

 * postgresql://dwhuser:***@dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SODUZNL12AF72A2932', '40 Days', 'AR61QQL1187FB3A48E', 1993, 194.11546),
 ('SORBHLJ12AB017E791', '9 Zulo', 'ARZQPVC1187B98EA20', 1986, 239.51628),
 ('SOQUAPH12A6D4F8F65', 'A Day In A Live (2002 Digital Remaster)', 'ARXAKQ21187B990F7D', 1993, 495.09832),
 ('SOUHHWB12A6D4FB3EB', 'A Thousand Memories', 'ARRSUF71187FB52F33', 1993, 262.03383),
 ('SOQCXBM12A670216A5', 'Afternoons In Utopia', 'ARP061U1187FB4D572', 1986, 186.43546)]

## Sample query

Which artists have the most songs listened to on Sparkify?

In [54]:
%%sql
SELECT
    a.name,
    COUNT(DISTINCT s.song_id) AS number_songs
FROM artists a 
JOIN songs s USING (artist_id)
GROUP BY 1
ORDER BY 2 DESC
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cx3jhlrvhkmb.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Aphex Twin', 9),
 ('Badly Drawn Boy', 9),
 ('Tracy Chapman', 8),
 ('Dropkick Murphys', 8),
 ('The Beastie Boys', 8)]

# Clean up + delete resources

In [64]:
# Delete cluster
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DeleteCluster operation: Cluster dwhcluster not found.

In [65]:
# Run this block until ClusterStatus is deleted
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.

In [66]:
# Remove role policy and delete IAM role
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': 'fe1c42ac-2992-4c2f-8251-6a9a82b232fd',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'fe1c42ac-2992-4c2f-8251-6a9a82b232fd',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Fri, 19 Jun 2020 17:42:01 GMT'},
  'RetryAttempts': 0}}